.CF {
    line-height: 1.1em;
}

.CF_Key {
    font-weight: bold;
}

.CF_Key::after {
    content: ":";
}

.ModelList .CF:not(:last-child) .CF_Value::after {
    content: ", ";
}
  
.ModelList .CF {
    display: inline;
}