body {
  font-family: Roboto, Ubuntu, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5 {
  font-weight: normal;
}

.btn,h1,h2,h3,h4,h5 {
  text-transform: uppercase;
  font-family: Lato, Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none !important;
  transition: 0.2s ease color;
  color: #1e5dc4;
}

a:hover {
  color: red;
}